<mat-card
  class="note-card"
  [style.background]="selectedColor"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <!-- Expanded View -->
  <form [formGroup]="noteForm" *ngIf="isExpanded">
    <div class="note-header">
      <input matInput formControlName="title" placeholder="Title" class="note-title" />
      <button mat-icon-button class="material-symbols-outlined seltoggle">
        <mat-icon>push_pin</mat-icon>
      </button>
    </div>

    <input matInput formControlName="description" placeholder="Take a note..." class="note-description" />

    <div class="icon-footer">
      <app-notes-icon
        [note]="{ id: '', color: selectedColor }"
        (colorChanged)="onColorChanged($event)"
        [showReminder]="true"
        [showCollaborator]="true"
        [showColor]="true"
        [showImage]="true"
        [showArchive]="true"
        [showTrash]="false"
        [showMore]="true"
        [showUndo]="false"
        [showRedo]="false"
      ></app-notes-icon>

      <button mat-button (click)="onClose()">Close</button>
    </div>
  </form>

  <!-- Collapsed View -->
  <div *ngIf="!isExpanded" class="note-collapsed">
    <span>Take a note...</span>
    <div class="collapsed-icons">
      <mat-icon class="material-symbols-outlined seltoggle">check_box</mat-icon>
      <mat-icon class="material-symbols-outlined seltoggle">brush</mat-icon>
      <mat-icon class="material-symbols-outlined seltoggle">image</mat-icon>
    </div>
  </div>
</mat-card>
