<mat-nav-list class="sidenav-list">
  <a
    mat-list-item
    class="nav-item"
    routerLink="/dashboard/notes"
    routerLinkActive="selected"
    [ngClass]="{ selected: selected === 'notes' }"
    (click)="select('notes','/notes')"
  >
    <mat-icon>lightbulb_outline</mat-icon>
    <span>Notes</span>
  </a>

  <a
    mat-list-item
    class="nav-item"
    routerLink="/dashboard/remainders"
    routerLinkActive="selected"
    [ngClass]="{ selected: selected === 'remainders' }"
    (click)="select('remainders','remainders')"
  >
    <mat-icon fontSet="material-symbols-outlined" fontIcon="notifications">notifications</mat-icon>
    <span>Remainders</span>
  </a>

  <a
    mat-list-item
    class="nav-item"
    routerLink="/dashboard/labels"
    routerLinkActive="selected"
    [ngClass]="{ selected: selected === 'labels' }"
    (click)="select('labels','labels')"
  >
    <mat-icon fontSet="material-symbols-outlined" fontIcon="edit">edit</mat-icon>
    <span>Edit labels</span>
  </a>

 <a
  mat-list-item
  class="nav-item"
  routerLink="/dashboard/archive"
  routerLinkActive="selected"
  [ngClass]="{ selected: selected === 'archive' }"
  (click)="select('archive', 'archive')"
>
  <mat-icon fontSet="material-symbols-outlined" fontIcon="archive">archive</mat-icon>
  <span>Archive</span>
</a>


  <a
    mat-list-item
    class="nav-item"
    routerLink="/dashboard/trash"
    routerLinkActive="selected"
    [ngClass]="{ selected: selected === 'trash' }"
    (click)="select('trash','trash')"
  >
    <mat-icon fontSet="material-symbols-outlined" fontIcon="delete">delete</mat-icon>
    <span>Trash</span>
  </a>
</mat-nav-list>
